@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
.dark-gray{
color: #3A3A3A;
}
.display-flex{
    display: flex;
}

  /* Header Styles Section */
  .nav-item{
    list-style: none;
  }
  .nav-header{
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .nav-item{
    font-size: 1rem ;
    font-weight: 600 ;
    margin-right: 50px;
  }
  .navbar{
    justify-content: space-between; 
  }
  .banner{
    justify-content: center;
    margin-top: 100px;
  }
  .banner img{
    margin: 0px auto;
  }
  .banner-content{
    max-width: 600px;
    margin: 0px auto;
    
  }
  .banner-tile{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 600;
  }
  .btn-primary{
    border-radius: 41px;
    border: none;
    padding: 10px 24px 10px 24px;
    background: rgb(224, 44, 109);
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    width: 196px;
    height: 44px;
  }
  .sponsors{
    margin-top: 150px;
    justify-content: center;
    gap: 50px;
  }
  